#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.addTask {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.addTask input {
	width: 100%;
	padding: 16px;
	font-size: 16px;
}

.todoList--tasks {
	margin-top: 100px;
}

.taskLists {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;

	border: 1px solid white;
	margin-top: 16px;
}

.taskLists h3 {
	margin: 0;
	padding: 16px;
}

.taskLists .deleteBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;

	padding: 0;
}
